section.banner
    .container
        +max-screen($breakpoint-md)
            padding: 0
            max-width: 100%
    .banner
        &__wrap
            display: flex
            align-items: center
            +max-screen($breakpoint-md)
                flex-direction: column
        &__col
            &.col-left
                max-width: 722px
                width: 100%
                display: flex
                flex-direction: column
                justify-content: center
                margin: 0 auto
                padding: 0 20px
                +max-screen($breakpoint-md)
                    margin-bottom: 20px
                    text-align: center
            &.col-right
                max-width: 618px
                width: 100%
                +max-screen($breakpoint-md)
                    max-width: 100%

        &__title
            // font-size: 52px
            font-weight: 500
            font-style: italic
            margin-bottom: 0.5rem
        &__subtitle
            // font-size: 25px
            font-weight: 500
            margin-right: 20px
            
            +max-screen($breakpoint-md)
                margin-right: 0
        &__image
            position: relative
            width: 100%
            overflow: hidden
            // padding-bottom: 100%
            height: calc(100vh - 190px - 50px)
            min-height: 500px
            +max-screen($breakpoint-xxl) // Non header fixed sizes
                height: calc(100vh - 140px - 40px)
            +max-screen($breakpoint-xl)
                height: calc(100vh - 110px - 40px)
                width: calc(100% + 40px)
            +max-screen(1200px)
                height: calc(100vh - 80px - 40px)
            +max-screen($breakpoint-md)
                padding-bottom: 100%
                height: 0
                min-height: 0
                width: 100%
            // .admin-bar &
            //     height: calc(100vh - 195px - 32px)
            //     +max-screen($breakpoint-xxl)
            //         height: calc(100vh - 117px - 32px)
            img
                position: absolute
                width: 100%
                height: 100%
                object-fit: cover
                object-position: top