section.programs
    .programs
        &__wrap
        &__title
            padding: 65px 0
            background: $color-peru
            font-size: 1.45rem
            font-weight: 600
            color: $color-light
            text-align: center
        &__list
            padding: 109px 0 96px
            display: flex
            justify-content: center