section.reviews
    .reviews
        &__wrap
        &__title
            padding: 55px 0
            font-size: 1.45rem
            font-weight: 700
            text-align: center
        &__list
            padding-bottom: 73px
            +max-screen($breakpoint-lg)
                padding-bottom: 60px